<h1><%= t('new newsletter') %></h1>

<% form_for(@newsletter, :html => { :name => "newsletter_" }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('label') %><br />
    <%= f.text_field :label, :value => t('subscribe_newsletter') %>
  </p>
  <p>
    <%= f.label t('name') %><br />
    <%= f.text_field :name, :value => t('new_newsletter') %>
  </p>
  
  <p>
    <%= f.submit_with_javascript( t('create')) %>
  </p>
<% end %>

<%= link_to t('back'), :back %>
