<h1><%= t 'editing quotation' %></h1>

<% form_for(item.resource, :html => { :name => "quota_#{item.resource.id}" }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t 'content' %><br />
    <%= f.ckeditor_field :content %>
  </p>
  <p>
    <%= f.label t 'speaker' %><br />
    <%= f.text_field :speaker %>
  </p>
  <p>
    <%= f.label t 'company' %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label t 'language' %><br />
    <%= f.text_field :language_id %>
  </p>
  <p>
    <%= f.submit_with_javascript( t('update')) %>
  </p>
<% end %>

<%= link_to t('back'), :back %>
